/Examples/sgTerrain/build/
/Examples/sgBase/build/
/Examples/sgMirror/build/
/Examples/sgPanels/build/
/Examples/sgShaders/build/
/Examples/sgShadows/build/
/Examples/sgParticles/build
/Showcase/
/Examples/sgPhysics/build
/DerivedData/
Examples/sgBase/Base.xcodeproj/project.xcworkspace/xcuserdata/nils_daumann.xcuserdatad/
Examples/sgTerrain/bin/
Examples/sgTerrain/obj/
Examples/sgMirror/bin/
Examples/sgMirror/obj/
Engine/IDEProjects/bin/
Engine/IDEProjects/obj/
Examples/sgBase/bin/
Examples/sgBase/obj/
Examples/sgParticles/bin/
Examples/sgParticles/obj/
Examples/sgShadows/bin/
Examples/sgShadows/obj/
*.depend
*.layout
Engine/IDEProjects/iSDGE.depend
Examples/sgAnimation/bin/
Examples/sgAnimation/obj/
Examples/sgAudio/bin/
Examples/sgAudio/obj/
Examples/sgCity/bin/
Examples/sgCity/obj/
Examples/sgPanels/bin/
Examples/sgPanels/obj/
Examples/sgPhysics/bin/
Examples/sgPhysics/obj/
Examples/sgShaders/bin/
Examples/sgShaders/obj/