/Examples/sgTerrain/build/
/Examples/sgBase/build/
/Examples/sgMirror/build/
/Examples/sgPanels/build/
/Examples/sgShaders/build/
/Examples/sgShadows/build/
/Examples/sgParticles/build
/Showcase/
/Examples/sgPhysics/build
/DerivedData/