<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iSDGE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2904EC8D13C9BE8200E04491</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>293381CF13C9A81A007FC59F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>293385AB13C9B170007FC59F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
